@import '../less/colors';

.topbar {
    background: @black;
    display: flex;
    width: 100%;
    height: 34px;
    &>.wrapper {
        width: 800px;

    }
}

.menu {
    padding: 20px;
    background: @pale-blue;
}

.menu a {
    padding: 10px;

    &:hover {
        background: @blue;
        color: @orange;
    }
}

.dashboard-nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.dashboard-content {
    padding: 1em;   
}

.brand {

    a {
        text-decoration: none;
    }
}

.nav-list {
    flex: 1;
    list-style-type: none;

    &>li {
        display: inline;
    }
}
