{% extends "dashboard/base_site.html" %}
{% load staticfiles %}

{% block sidebar %}
<ul class="nav nav-sidebar">
  <li><a href="">Overview</a></li>
  <li><a href="">Loan</a></li>
  <li><a href="">Renewal</a></li>
  <li><a href="">Return</a></li>
</ul>
{% endblock sidebar %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'dashboard:index' %}">Home</a></li>
  <li><a href="{% url 'dashboard:circulation:index' %}">Circulation</a></li>
</ul>
{% endblock breadcrumbs %}

{% block script %}
{{ block.super }}
{% endblock script %}
