{% extends "circulation/dashboard/base.html" %}

{% load staticfiles %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'dashboard:index' %}">Home</a></li>
  <li><a href="{% url 'dashboard:circulation:index' %}">Circulation</a></li>
  <li>Loan Return</li>
</ul>
{% endblock breadcrumbs %}

{% block page-header %}
<h1>Loan Return</h1>
{% endblock page-header %}

{% block page-body %}
{{ block.super }}
<form method='POST' action=''>
  {% csrf_token %}
  <div class="" id="loan-form">
    {{ form }}
  </div>
  <table>
    {{ form.errors }}
  </table>
  <button>Submit</button>
</form>
{% endblock page-body %}

{% block script %}
{{ block.super }}
<script src="{% static 'oils/dist/dashboard/circulation/loan_return.js' %}"></script>
{% endblock script %}
