{% extends "circulation/dashboard/base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% block page-header %}
<h1>Loan Renewal</h1>
{% endblock page-header %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'dashboard:index' %}">Home</a></li>
  <li><a href="{% url 'dashboard:circulation:index' %}">Circulation</a></li>
  <li>Loan Renewal</li>
</ul>
{% endblock breadcrumbs %}

{% block page-body %}
{{ block.super }}
<div class="row">
  <div class="col-sm-3">
    {% crispy form %}
  </div>
  <div class="col-sm-9">
  </div>
</div>

{% endblock page-body %}

{% block script %}
{{ block.super }}
<script src="{% static 'oils/dist/dashboard/circulation/loan_renewal.js' %}"></script>
{% endblock script %}
