{% extends "circulation/dashboard/base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'dashboard:index' %}">Home</a></li>
  <li><a href="{% url 'dashboard:circulation:index' %}">Circulation</a></li>
  <li>Loan Creation</li>
</ul>
{% endblock breadcrumbs %}

{% block page-header %}
<h1>Loan Form</h1>
{% endblock page-header %}

{% block page-body %}
{{ block.super }}
<form method='POST' action=''>{% csrf_token %}
  <div class="row patron-field">
    <div class="col-sm-3">
      {% crispy form %}
    </div>
    <div class="col-sm-9 patron-info">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <fieldset id="item-fieldset" class="items-fieldset">
        {{ formset.management_form|crispy }}
        <legend>Item List</legend>
        {% for iter_form in formset %}
        <div class="row items-field">
          <div class="col-sm-3">
            {% crispy iter_form %}
          </div>
          <div class="col-sm-9 items-info-{{ forloop.counter0 }}">
          </div>
        </div>
        {% endfor %}
      </fieldset>
    </div>
  </div>
  <input type="submit" value="submit">
</form>
{% endblock page-body %}

{% block script %}
{{ block.super }}
{% include "account/dashboard/patron-info-panel.html" %}
{% include "shelving/dashboard/item-info-panel.html" %}
<script src="{% static 'dist/dashboard/circulation/loan.js' %}"></script>
{% endblock script %}
