{% extends "dashboard/base.html" %}

{% block page-header %}
<h1>Dashboard</h1>
{% endblock page-header %}

{% block page-body %}
{{ block.super }}
<div class="row">
  {% for sitenav in sitenavs %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{ sitenav.text }}</h3>
        {{ sitenav.description|linebreaks }}
        <p><a href="{{ sitenav.url }}" class="btn btn-primary">Overview</a>
        {% for menuitem in sitenav.children %}
        <a href="{{ menuitem.url }}" class="btn">{{menuitem.text}}</a>
        {% endfor %}
        </p>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="col-xs-12">
    <div class="thumbnail">
      <div class="caption">
        <h3>No Access</h3>
        <p>You don't have any permissions in the system.
        Please contact the administrator if required.</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock page-body %}
