{% load active_url %}
<ul class='nav-list'>
  <li>
    {% with url_name='dashboard:index' label='Dashboard' %}
    <a href="{% url url_name %}"
       class="{% active_url '^/dashboard/$' %}" >{{ label }}</a>
    {% endwith %}
  </li>

  <li>
    <h2 class="sidebar-heading">Catalog</h2>
    <ul class="nav-list">
      <li>
        <a href="">Add Book</a>
      </li>
      <li>
        <a href="">Manage Book</a>
      </li>
    </ul>
  </li>
  <li>
    <h2 class="sidebar-heading">Circulation</h2>
    <ul class="nav-list">
      <li>
        <a href="#">Loan</a>
      </li>
      <li>
        <a href="#">Renewal</a>
      </li>
      <li>
        <a href="#">Return</a>
      </li>
    </ul>
  </li>

  <li>
    <h2 class="sidebar-heading">Patron</h2>
    <ul class="nav-list">
      <li>
        <a href="#">Add Patron</a>
      </li>
      <li>
        <a href="#">Manage Patron</a>
      </li>
    </ul>
  </li>
</ul>
