{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block content %}
{{ block.super }}
<div>
  <a href="{% url 'dashboard:circulation:issue:index' %}">Loan List</a>
  {% if request.user.is_staff %}
  <a href="{% url 'dashboard:circulation:issue:new' %}">New Issue</a>
  <a href="{% url 'dashboard:circulation:issue:return' %}">New Return</a>
  <a href="{% url 'dashboard:circulation:issue:renewal' %}">New Renewal</a>
  {% endif %}
</div>
{% endblock content %}

{% block script %}
{{ block.super }}
<script src="{% static 'oils/dist/dashboard/circulation/common.js' %}"></script>
{% endblock script %}
