{% load staticfiles %}
{% load compress %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Library{% endblock title %}</title>
    {% block style %}
    {% endblock style %}
  </head>
  <body>
    <h1><a href="/">Library</a></h1>
    {% block content %}
    {% endblock content %}

    {% block script %}
    {% endblock script %}
    {% compress css %}
    <link type="text/less" rel="stylesheet" href="{% static 'main.less' %}" charset="utf-8">
    {% endcompress %}
  </body>
</html>
