{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class='topbar'>
  <div class='wrapper'>
  {% block topbar %}
    <div class='nav-user'>
      <span class='greeting'>Hi, <a href="">
        {% if request.user.get_full_name %}
        {{ request.user.get_full_name }}
        {% else %}
        {{ request.user.username }}
        {% endif %}
        </a>
      </span>
      <a href="{% url 'auth_logout' %}">Logout</a>
    </div>
  {% endblock topbar %}
  </div>
</div>

<div class='dashboard-content'>
  <nav class="dashboard-nav">
    <div class="brand">
      <h1><a href="/">Library</a></h1>
    </div>

    {% block dashboard_nav %}
    <ul class='nav-list'>
      <li><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
      {% if request.user.is_staff %}
      <li><a href="{% url 'dashboard:catalog:index' %}">Catalog</a></li>
      {% endif %}
      <li><a href="{% url 'dashboard:circulation:index' %}">Circulation</a></li>
      {% if request.user.is_staff %}
      <li><a href="{% url 'dashboard:patron:index' %}">Patron</a></li>
      <li><a href="">Report</a></li>
      <li><a href="">Utlitiy</a></li>
      {% endif %}
    </ul>
    {% endblock dashboard_nav %}
  </nav>

  <div class='dashboard-main'>
    {{ block.super }}
  </div>
</div>

{% endblock content %}


{% block script %}
{{ block.super }}
<script src="{% static 'oils/dist/dashboard/common.js' %}"></script>
<script src="{% static 'oils/dist/dashboard/app.js' %}"></script>
{% endblock script %}
