{% extends "base.html" %}

{% block content %}

<div>
  {% block topbar %}
  <div>Hi, <a href="">
    {% if request.user.get_full_name %}
    {{ request.user.get_full_name }}
    {% else %}
    {{ request.user.username }}
    {% endif %}
    </a>
  </div>
  <a href="{% url 'auth_logout' %}">Logout</a>
  {% endblock topbar %}
</div>

<div>
{% block menu %}
<a href="{% url 'dashboard:index' %}">Dashboard</a>
{% if request.user.is_staff %}
<a href="{% url 'dashboard:catalogue:index' %}">Catalogue</a>
{% endif %}
<a href="{% url 'dashboard:circulation:index' %}">Circulation</a>
{% if request.user.is_staff %}
<a href="{% url 'dashboard:patron:index' %}">Patron</a>
<a href="">Report</a>
<a href="">Utlitiy</a>
{% endif %}
{% endblock menu %}
</div>

{{ block.super }}

{% endblock content %}
